@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-bg-color: rgb(109, 209, 109);
    --font1 : font-family: 'Poppins', sans-serif;
}

body,html {
    margin: 0;
}

/* navigation bar */
.nav {
    background-color: #222831;
    height: 50px;
}

.nav h1 {
    margin: 0;
    margin-left: 550px;
    color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

/* Main Section */

.main {
    height: 530px;
    width: 100%;
    background-color: rgb(226, 225, 225);
}


button {
    margin-top: 454px;
    margin-left: 598px;
}

/* footer */

.footer {
  background-color: #00adb5;
  height: 77px;
  width: 100%;
}